
/*
==============================
GENERAL
==============================
*/
html {
    scroll-behavior: smooth;
    overflow: visible!important;
}
body {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #4C4C4C;
    overflow: visible!important;
}
.wrap-center{
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 8%;
}
.banner-centered {
    position: relative;
    width: max-content;
}
.background-main {
   height: 94vh;
   background: transparent url("../assets/images/uce_research.jpg") fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
@media(max-width:994px) {
    .background-main {
        background-attachment: scroll;
        background-position: center;
     }
}
  h1 {
    padding-top: 10%;
  }

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99995;
}
    #preloader:after {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url(images/assets/loader.gif);
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
        z-index: 999999999999;
    }
.scroll-top-mobile {
    position: fixed;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 995;
    right: 10px;
    bottom: 10px;
    text-align: center;
    bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    visibility: hidden;
    opacity: 0;
}

    .scroll-top-mobile.show {
        visibility: visible;
    }
img {
    max-width: 100%;
}
a {
    cursor: pointer;
    outline: none;
    transition: all .5s;
}
/* 
------------------------------
TAG ROW
------------------------------
*/
.tag-row {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .tag-row span {
        margin: 0 15px 0 0;
        color: #9C9C9C;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        border-right: 1px solid #CCC;
        padding-right: 16px;
    }

    .tag-row span:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .tag-row span:last-child:after {
        display: none;
    }

/* 
------------------------------
SEPARATORS  
------------------------------
*/

hr.space {
    border: none !important;
    clear: both;
    height: 70px;
    margin: 0;
}

    hr.space.xs {
        height: 10px;
    }

    hr.space.s {
        height: 20px;
    }

    hr.space.m {
        height: 30px;
    }

/*
------------------------------
VARIOUS
------------------------------
*/

.text-xs {
    font-size: 11px !important;
    line-height: 11px;
}

.text-s {
    font-size: 13px !important;
    line-height: 18px;
}

.text-m {
    font-size: 16px !important;
    line-height: 25px;
}

.text-xl {
    font-size: 50px !important;
    line-height: 50px;
}
@media(min-width:768px) {
    .text-m {
        font-size: 18px !important;
        line-height: 25px;
    }
}
/*
------------------------------
VERTICAL AND PRPORZIONAL ROW
------------------------------
*/
.vertical-row.row {
    display: flex !important;
    align-items: center;
}

.row.vertical-row:not(.box-middle) {
    margin-left: -15px;
    margin-right: -15px;
}

.vertical-row > div {
    padding: 0;
}

.row.vertical-row > div {
    padding-left: 15px;
    padding-right: 15px;
}

/*
------------------------------
GLOBAL
------------------------------
*/

header {
    line-height: 1.42857143;
    z-index: 995;
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

header .navbar-right > * {
    float: left;
}

    header .navbar-right > *:not(li) {
        padding-right: 15px;
        padding-left: 15px;
    }

.navbar-brand img {
    transition: all .3s;
    max-height: 100%;
    width: 250px;
    height: auto;
    margin-top: 9px;
}

.navbar-brand .logo-retina, .logo-retina {
    display: none !important;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 994px), (min-resolution: 192dpi) and (min-width: 994px) {
    .navbar-brand .logo-retina, .logo-retina {
        display: block !important;
    }

    .navbar-brand .logo-default, .logo-default {
        display: none !important;
    }
}

header > .navbar {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    transform: translate3d(0px, 0px, 0px);
}

.navbar-main {
    background-color: #FFFFFF;
    margin-bottom: 0;
    border: none;
}

.fixed-top {
    height: 52px;
}

.navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:hover {
    color: #171717;
    background: rgba(199,199,199,0.15);
}

.navbar-brand {
    margin-right: 15px;
}

/*
------------------------------
TOP SECTION - MINI
------------------------------
*/
.navbar-mini {
    background-color: #f8f8f8;
    color: #7B7B7B;
    font-size: 12px;
    border-bottom: 1px solid rgb(228,228,228);
}

    .navbar-mini .navbar-left span:first-child {
        padding-left: 0;
    }

    .navbar-mini span {
        padding: 0 7px;
    }

        .navbar-mini span i {
            margin-right: 7px;
        }

    .navbar-mini hr {
        width: 1px;
        background-color: #BEBEBE;
        margin: 0 0 -2px 0;
        display: inline-block;
        height: 12px;
        padding: 0;
    }

.minisocial-group {
    float: right;
}

    .minisocial-group i {
        font-size: 15px;
        line-height: 33px !important;
        padding-top: 1px;
        display: block !important;
        float: left;
        color: rgb(183,183,183);
        cursor: pointer;
        border-right: 1px solid #DBDBDB;
        width: 35px;
        text-align: center;
    }

i.first {
    border-left: 1px solid rgb(219,219,219);
}

.navbar-mini .navbar-left {
    padding-top: 10px;
}

/*
------------------------------
SUBTITLE
------------------------------
*/

@media(max-width:768px) {
    .padminus {
        margin-top: -70px!important;
    }
    .padd-bott40 {
        margin-bottom: 10px;
        margin-top: 10px !important;
    }

}

/* 
==============================
FOOTER 
==============================
*/

footer {
    background-color: #F5F5F5;
    position: relative;
    z-index: 9;
    margin-top: 0 !important;
}

.footer-base hr {
    margin-left: 0;
}

footer .container {
    padding: 35px 15px;
}

footer .social-group i {
    color: #4C4C4C;
}

.copy-row .col-md-12 {
    text-align: center;
}

.copy-row .copy-text {
    font-size: 12px;
    line-height: 20px;
}

footer .social-group a {
    margin: 0 5px;
    display: inline-block;
}

footer .social-group {
    float: none;
    margin-bottom: 15px;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

footer .content {
    overflow: hidden;
}

/* 
==============================
BACKGROUND PATTERNS
==============================
*/
/* 
==============================
TEMPLATES
==============================

------------------------------
BACKGROUND IMAGE 
------------------------------
*/

/*
==============================
TITLES
==============================

------------------------------
GLOBAL
------------------------------
*/

/*
------------------------------
BASE
------------------------------
*/

/*
------------------------------
IMAGE
------------------------------
*/


.object-top {
        object-position: top
    }
    .about-card {
        width: 100%;
    }
    .about-card a {
        margin-right: 9px;
    }
    .about-card-shadow {
        background: #fff;
        box-shadow: 0 0 20px #00000015;
    }
    .fl-right {
        float: right;
        max-width: max-content;
    }
    .align-right {
        text-align: left;

    }
    .align-right a {
        float: right;
    }
    .banner-heading {
        position: relative;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.1;
        color: #fff;
        letter-spacing: 1px;
        z-index: 9;
    }
    .padd-50 {
        padding: 25px 0;
    }
    .max-height {
        max-height: 300px;
        object-fit: cover;
        width: 100%;
    }

/*
------------------------------
SLIDER
------------------------------
*/

/*
------------------------------
VIDEO
------------------------------
*/

*::--webkit-media-controls-play-button, *::-webkit-media-controls-start-playback-button, *::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

/*
------------------------------
ANIMATION
------------------------------
*/


/*
==============================
PAGINATION
==============================
*/

.scroll-top-mobile:before {
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    content: "" !important;
    display: inline-block;
    margin-left: .3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    transition: right .15s;
    border-color: rgba(93, 93, 93, 0.5);
}

.scroll-top-mobile:before {
    top: -4.5px;
    left: -2px;
    transform: scale(1.2) rotate(-45deg);
}

/*
==============================
CONTAINERS
==============================

------------------------------
COLLAPSE
------------------------------
*/

/* 
------------------------------
FIXED AREA
------------------------------
*/

/* 
------------------------------
SCROLL BOX
------------------------------
*/

/* 
------------------------------
GRID & MASONRY LIST
------------------------------
*/

/*
==============================
COMPONENTS
==============================

------------------------------
GOOGLE MAP
------------------------------
*/

/*
------------------------------
SOCIAL
------------------------------
*/
.social-group i {
    font-size: 17px;
    display: block !important;
    float: left;
    color: #525252;
    cursor: pointer;
    font-weight: 400 !important;
}

    .social-group i.circle {
        color: #585858;
        background: none;
        border: 1px solid #828282;
        margin-right: 2.5px;
        margin-left: 2.5px;
    }

.social-group a {
    display: inline-block;
}

.social-group a:first-child {
    margin-left: 0;
}

.social-group a:last-child {
    margin-right: 0;
}

.social-group a i {
    padding: 10px 12px;
    width: 52px;
    text-align: center;
    font-weight: 400 !important;
}

.social-group i:hover, .minisocial-group i:hover {
    background: rgba(31,31,31,0.05);
}

.social-group .fa:hover {
    color: white;
    background-color: #505050;
    border-radius: 2px;
}

.social-group .circle.fa:hover {
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0);
}

.social-group .fa-facebook {
    padding: 10px 14px;
}

.social-group .fa-twitter {
    padding: 10px 11px;
}

.social-group [class*="facebook"]:hover {
    background-color: #3B5998;
}

.social-group [class*="twitter"]:hover {
    background-color: #3B8ACA;
}

.social-group [class*="linkedin"]:hover {
    background-color: #0077B5;
}
i.circle {
    padding: 20px;
    background-color: #585858;
    color: white;
    text-align: center;
    display: inline-block;
}

.text-xs.circle {
    width: 27px;
    height: 27px;
    padding: 0;
    line-height: 27px;
}
/*
------------------------------
ICON BOX
------------------------------
*/

.icon-box {
    display: table;
}

.icon-box label {
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.icon-box-cell label {
    display: block;
    margin: 0;
}

@media(min-width:994px) {
    .icon-box-cell {
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
    }
    
}

    .icon-box-cell p {
        margin: 0;
    }


/* 
============================== 
BUTTONS 
============================== 
*/
.btn {
    background-color: #f5f5f5;
}

    .btn:hover {
        background-color: #ececec;
    }

*[data-social] i, .btn-group-icons i {
    margin: 0 3px;
}

.social-group {
    margin: 0 -3px;
}

/*
==============================
IMAGE BOX
==============================
*/

.circle {
    border-radius: 50%;
    position: relative;
    backface-visibility: hidden;
    transform: scale(1);
}

@media(max-width:768px) {
    .text-m-sm {
        font-size: 30px !important;
        line-height: 35px;
    }
}
div.content {
    padding-left: 15px;
    padding-right: 15px;
}

    div.content > *:first-child {
        margin-top: 0;
    }

    .banner-heading {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        color: #fff;
    }
    @media(max-width:994px) {
        .text-xl,
        .banner-heading h1 {
            font-size: 32px;
        }
        .about-card-shadow {
            padding: 25px 25px 15px 25px;
            box-shadow: 0 0 20px #00000015;
        }
        .mobnone {
            display: none;
        }
    }
@media(min-width:768px) {
    .about-card-shadow {
        padding: 45px 45px 35px 45px;
        box-shadow: 0 0 20px #00000015;
    }
    .col-md-6 {
        width: 50%;
      }
}
    #banner-text a {
        display: block;
        height: min-content;
        width: max-content;
    }
    @media(min-width:994px) {
        #banner-text a {
            position: absolute;
            top: 92px;
            right: 3px;
        }
        .padd-10 {
            margin: 14px 0 0;
        }
        .tr-right {
            transform: translateX(20px);
          }
    }
    .padd-50 {
        padding: 25px 0;
    }


.globe {
    margin-top: 8px;
    height: 48px;
    width: 48px;
}
.people {
    margin-top: 8px;
    height: 48px;
    width: 48px;
}
.poland {
    margin-top: 7px;
    height: 52px;
    width: 52px;
}
@media(max-width:994px) {
    .globe {
        height: 48px;
        width: 48px;
    }
    .people {
        height: 48px;
        width: 48px;
    }
    .poland {
        height: 52px;
        width: 52px;
        margin-bottom: -3px;
    }
}
.color-grey {
    background: #8a8a8a !important;
padding: 8px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 2px;
color: #fff!important;
}
.color-grey:hover {
    background: #333333 !important;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media(min-width:768px) {
    .banner-heading {
        font-size: 50px;
    }
    .order-md-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .flex {
        display: flex;
    }

}
@media(min-width:994px) {
    .banner-heading {
        font-size: 60px;
    }
    .flex-center {
        display: flex;
        align-items: center;
    }
}
.section-work {
    background: #fff;
}
[class*="section-"] > div > .row:first-child > div > *:first-child, [class*="section-"] > div > *:first-child, [class*="section-"] > *:first-child {
    margin-top: 0;
}

[class*="section-"] > div > .row:last-child > div > *:last-child, [class*="section-"] > div > *:last-child, [class*="section-"] > *:last-child {
    margin-bottom: 0;
}


/*
==============================
MOBILE - RESPONSIVE
==============================
*/

button.navbar-toggle {
    padding: 3px !important;
    border: none;
}

.navbar-toggle > i {
    font-size: 25px;
    margin: 2px 5px 0 5px;
    line-height: 23px;
    color: #4C4C4C;
}

@media (max-width: 992px) {
    [class*="col-md"] {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .scroll-top-mobile {
        visibility: visible;
    }
    .navbar-header {
        background-color: #FFF;
        height: 68px;
    }

    header .navbar-nav {
        margin-top: 0;
    }

    .navbar-fixed-top {
        position: static !important;
        margin-top: 0 !important;
    }

        .navbar-fixed-top .navbar-collapse {
            max-height: inherit;
            box-shadow: 0 3px 5px rgba(0,0,0,0.13);
        }

    .social-group {
        text-align: center;
    }

        .social-group a {
            display: inline-block;
        }

    .navbar-left {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        border: none;
        text-align: center;
    }

    header .navbar-right > * {
        float: none;
        padding: 0 !important;
    }

    footer .container {
        padding: 35px 0 15px 0;
    }

    .navbar-mini .nav {
        text-align: center;
        margin: 0;
        padding: 5px 0;
    }

    .navbar-mini .navbar-left, .navbar-mini .minisocial-group {
        display: none;
    }

    .navbar-mini .container {
        padding: 0;
    }

    .navbar-mini .navbar-right {
        padding: 0;
    }

    .minisocial-group {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #E4E4E4;
    }

        .minisocial-group i {
            float: none;
            display: inline-block !important;
        }

    div.navbar-nav {
        margin: 0 0 0 0;
    }

    .navbar-brand {
        margin-top: 0 !important;
        margin-right: 5px;
        max-width: 80%;
        height: auto;
        padding-left: 15px;
    }

    .navbar-toggle {
        max-width: 20%;
    }

    /*
------------------------------
COMPONENTS - RESPONSIVE
------------------------------
*/
@media(max-width:768px) {

    .about-card img {
        margin-bottom: 20px;
    }
    .fix-top1 {
        margin-top: -34px;
    }
    .fix-top2 {
        margin-top: -50px;
    }
    .fix-top3 {
        margin-top: -50px;
    }
    .fix-top4 {
        margin-top: -40px;
    }
    .fix-top4 {
        margin-top: -34px !important;
    }
    .fix-bot1 {
        margin-bottom: -50px!important;
    }
    .fix-bot3 {
        margin-bottom: -5px!important;
    }
}
@media(max-width:994px) {
    .icon-box-cell {
        text-align: center;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    .vertical-row {
        display: block !important;
    }

        .vertical-row.row {
            display: block !important;
            width: auto;
            margin-bottom: 0 !important;
        }


        .vertical-row > div, .row.vertical-row > div {
            padding-top: 10px;
            padding-bottom: 10px;
        }

            .vertical-row > div.col-md-8 {
                text-align: left;
            }

    .scroll-hide {
        display: block !important;
        opacity: 1 !important;
    }

    /*
------------------------------
VARIOUS
------------------------------
*/
    hr.space {
        height: 35px;
    }

        hr.space.xs {
            height: 8px;
        }

        hr.space.s {
            height: 10px;
        }

        hr.space.m {
            height: 20px;
        }

    footer, .footer-left {
        text-align: center;
    }

        footer hr {
            margin-left: auto !important;
            margin-right: auto !important;
        }

    footer {
        height: auto !important;
    }




    .col-md-8 {
        width: 100%;
        float: left;
    }

    footer .content > div > .row > [class*="col-md"], .col-md-4 [class*="col-md"] {
        width: 100%;
        float: none;
    }

    footer .tag-row span, footer .tag-row {
        white-space: normal;
    }


}
/*
==============================
MOBILE - EXTRA SMALL SCREENS
==============================
*/
@media (max-width: 767px) {
    .padtopmin {
        margin-top: -20px;
    }
    .fl-left {
       float: right;
    }
    .fl-right {
        float: left;
     }

    .translate-20 {
        transform: translateX(-20px);
    }
    .translate-30 {
        transform: translateX(-22px);
    }
    .fix-topplus5px {
        margin-top: 5px!important;
    }
}

/*
==============================
INTERNET EXPLORER < 10
==============================
*/

.right-float {
    float: right;
    margin-top: 12px;
    font-weight: 500;
}
.yellow {
    color: #f39f07;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  

  img {
    vertical-align: middle;
  }
  
  /* ==========================================================================
     Chrome Frame prompt
     ========================================================================== */
   
@media(max-width:994px) {
    .bcg {
        background-position: center center!important;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        /*-
        width: 100%;
        -*/
      }
      .hsContent,
      .hsContent2 {
        opacity: 1!important;
        padding-top: 50px;
      }
      .fl-right2 {
        float: right;
     }
     .flex-mob {
        display: flex;
        align-items: center;
     }
}

@media(min-width:994px) {
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        /*-
        width: 100%;
        -*/
      }
      .hsContent {
        position: fixed;
        top: 22%;
        z-index: 1;
      }
      .hsContent2 {
        position: fixed;
        right: 11%;
        z-index: 1;
      }
      #slide-4 .hsContent2 {
        position: fixed;
        top: 100px;
      }
}
@media(min-width:360px) {
    .hide-mob-xs {
        display: none;
    }
}
  .hsContainer {
      /*-
    width: 100%;
    --*/
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .hsContainer::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
  }
  .hcont2 a,
  .hsContainer a {
    position: relative;
    z-index: 9;
  }
.hcont2 {
    position: relative;
}
.hcont2::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
  }

 
  #slide-2 .bcg {
    background-image: url('../assets/images/zdjecie_do_strony_uce_research_2.jpg')
  }
  
  #slide-4 .bcg {
    background-image: url('../assets/images/zdjecie_do_strony_uce_research.jpg')
  }
  
.index {
    position: relative;
    z-index: 9;
}